/bookSurferApp/nbproject/private/
/bookSurferApp/build/
/bookSurferApp/dist/
/fileServer(1)/EchoClient/build/
/fileServer(1)/EchoClient/dist/
/fileServer(1)/EchoClient/nbproject/private/
/fileServer(1)/EchoServer/build/
/fileServer(1)/EchoServer/dist/
/fileServer(1)/EchoServer/nbproject/private/